
@{
    ViewData["Title"] = "Trip info";
    var distanceTraveled = ViewData["distanceTraveled"];
    var distanceBetweenMarkers = ViewData["distanceBetweenMarkers"];
}
    

<h2 class="">The car traveled @distanceTraveled meters between markers A and C!</h2>
<p></p>
<h2 class="">The direct, straight line distance between markers A and C is @distanceBetweenMarkers meters.</h2>

